<div class="container-fluid mt-3">
  <div class="jumbotron">
    <p>
      <strong>Here's your short url:</strong>
      <%= link_to nil, request.headers["HTTP_REFERER"]+@long_uri.short_url %>
    </p>

    <%= link_to 'New URL', "/" ,  class: "btn btn-dark"%>
  </div>
</div>