<h1>Top requested links</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Short url</th>
      <th>Requests</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @top_hits.each do |top_hit| %>
      <tr>
        <td><%= top_hit.title.to_s %></td>
        <td><%= link_to URI.parse(request.original_url()).host+'/'+top_hit.short_url , top_hit.short_url %></td>
        <td><%= top_hit.hits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', "/" , class: "btn btn-dark"%>